*{
    margin: 0px;
   font-family: 'inter';

}
#logo{
margin-left: 50px;
margin-top: 50px;

}

#titulo-menu-superior{
    margin-left: 150px;
    margin-top: 75px;
}

#texto-menu-superior{
    margin-left: 150px;
    margin-top: 25px;
    padding: 100px;
}

#menusuperior{
background-image: url(imagens/menu-superior.svg);
color: white;
}

#menuinformacional{
background-color: #EAECE5;
display: grid;
grid-auto-flow: column;
columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    color: #247BA0;
}
.textoinformativo{
    display: flex;
    align-items: center;
}

#titulo-video{
    margin-top: 50px;
}
#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
}

.card{
    margin-left: 50px;
}


#seta-esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 1s;
}

#formulario{
    text-align: center;

}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    width: 300px;
    height: 40px ;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #5294b1;
    color: #EAECE5;
    transform: translateY(-8px);
    box-shadow: 0px 15px 20px #083142;
    transition-duration: 1.5s;
}